{% extends 'layout.html' %}

{% block main %}


<ol class="am-breadcrumb" style="font-size: 18px">
    <li><a href="/" style="color: rgb(105,87,207);"><img src="/public/images/index.png" style="height: 20px;width: 20px;">管理首页</a></li>
    <span>/</span>
    <li class="am-active">用户列表</li>
</ol>
<h3>用户列表</h3>
<div class="am-scrollable-horizontal">
    <table class="am-table am-table-bordered am-table-striped am-text-nowrap">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>姓名</th>
        <th>手机号码</th>
        <th>密码</th>
        <th>是否是管理员</th>
        <th>操作</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.password}}</td>
        <td>

            {%if user.isAdmin%}是
            {% else %}否
            {%endif%}
        </td>
        <td>
            <a href="/admin/user/delete?id={{user._id.toString()}}" class="am-btn am-btn-danger">删除</a>
        </td>
    </tr>
    {% endfor %}

    </table>
</div>

{% include 'user_page.html' %}

{% endblock %}
